html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $font-stack;
  color: $black;
  max-width: 960 / 16 * 1em;
  margin: 4em auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: $black;
  padding: 0.2em 0;
}

img {
  max-width: 100%;
}






.muse-img {
  border: 1px solid #ccc;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* Main Nav */
.main-nav {
  background-color: #fff;
  color: #000000;
  margin: 0.625em 0;
  line-height: 1;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.625em;
}

.main-nav li {
    display: inline-block;
    font-weight: 500;
    margin: 0 0.625em;
}

.main-nav a {
  color: #000000;
  text-decoration: none;
}

.main-nav a:hover {
  border-bottom: 0.125em solid #fff;
}
