// variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors
$white: #fff;
$black: #333;
$grey-light: #ccc;
$grey-lighter: #eee;
$color-logo-sdo: #23CDFD;
$color-social-hover: #ff00ff;
